<!-- contains a partial for an individual blog page -->

<h1><%= post['title'] %></h1>
<p>
  <%= post['content'] %>
</p>
<p>
  <%= post['created_at'] %>
</p>


<form action="/blog" method="post">
    <h2> Confirm Delete?</h2>
    <input type="submit" value="Yes"/><br><br><hr>
</form>


<!-- Adds the title to the layout  - see EJS Layouts -->
<%- contentFor('title') %>
<%= post['title'] %>